/var
/shell
/media
/lib
/js
/includes
/errors
/downloader
/dev
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
/app/etc
/app/locale
/app/bootstrap.php
/app/Mage.php
/app/.htaccess
